<menu>
    <menuitem label="Dashboard" icon="fas:tachometer-alt fa-fw">
        <action>Dashboard</action>
    </menuitem>

    <menuitem label="CRM" icon="fas:users fa-fw">
        <menu>
            <menuitem label="Oportunidades (Lista)">
                <icon>fas:list fa-fw</icon>
                <action>OpportunityList</action>
            </menuitem>
            <menuitem label="Oportunidades (Kanban)">
                <icon>fas:th-large fa-fw</icon>
                <action>OpportunityKanban</action>
            </menuitem>
            <menuitem label="Negócios Perdidos">
                <icon>fas:hand-holding-usd fa-fw</icon>
                <action>LostDealList</action>
            </menuitem>
            <menuitem label="Proposta comercial">
                <icon>fas:hand-holding-usd fa-fw</icon>
                <action>PropostaList</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Simulações" icon="fas:cube">
        <menu>
            <menuitem label="Simulador 3D">
                <icon>fas:cubes fa-fw</icon>
                <action>PackingViewerPage</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='_t{Administration}'>
        <icon>fas:sliders fa-fw</icon>
        <menu>
            <menuitem label='Dashboard'>
                <icon>fas:tachometer-alt fa-fw</icon>
                <action>SystemAdministrationDashboard</action>
            </menuitem>
            <menuitem label='_t{Programs}'>
                <icon>far:file-code fa-fw</icon>
                <action>SystemProgramList</action>
            </menuitem>
            <menuitem label='_t{Groups}'>
                <icon>fas:users fa-fw</icon>
                <action>SystemGroupList</action>
            </menuitem>
            <menuitem label='_t{Units}'>
                <icon>fas:university fa-fw</icon>
                <action>SystemUnitList</action>
            </menuitem>
            <menuitem label='_t{Roles}'>
                <icon>fas:user-tag fa-fw</icon>
                <action>SystemRoleList</action>
            </menuitem>
            <menuitem label='_t{Users}'>
                <icon>fas:user fa-fw</icon>
                <action>SystemUserList</action>
            </menuitem>
            <menuitem label='_t{Page management}'>
                <icon>fab:wikipedia-w fa-fw</icon>
                <action>SystemWikiList</action>
            </menuitem>
            <menuitem label='_t{News management}'>
                <icon>fas:pen-square fa-fw</icon>
                <action>SystemPostList</action>
            </menuitem>
            <menuitem label='_t{Schedules}'>
                <icon>fas:clock fa-fw</icon>
                <action>SystemScheduleList#method=onReload</action>
            </menuitem>
            <menuitem label='_t{Preferences}'>
                <icon>fas:cog fa-fw</icon>
                <action>SystemPreferenceForm#method=onEdit</action>
            </menuitem>
            <menuitem label='CCT - Certificado Digital'>
                <icon>fas:key fa-fw</icon>
                <action>CctCertificateConfigForm</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Logs'>
        <icon>fas:desktop fa-fw</icon>
        <menu>
            <menuitem label='Dashboard'>
                <icon>fas:tachometer-alt fa-fw</icon>
                <action>SystemLogDashboard</action>
            </menuitem>
            <menuitem label='_t{Access Log}'>
                <icon>fas:key fa-fw</icon>
                <action>SystemAccessLogList</action>
            </menuitem>
            <menuitem label='_t{Change Log}'>
                <icon>fas:film fa-fw</icon>
                <action>SystemChangeLogView</action>
            </menuitem>
            <menuitem label='_t{SQL Log}'>
                <icon>fas:database fa-fw</icon>
                <action>SystemSqlLogList</action>
            </menuitem>
            <menuitem label='_t{Request Log}'>
                <icon>fas:globe fa-fw</icon>
                <action>SystemRequestLogList</action>
            </menuitem>
            <menuitem label='_t{Schedules}'>
                <icon>fas:clock fa-fw</icon>
                <action>SystemScheduleLogList</action>
            </menuitem>
            <menuitem label='_t{PHP Log}'>
                <icon>fas:exclamation-triangle fa-fw</icon>
                <action>SystemPHPErrorLogView</action>
            </menuitem>
            <menuitem label='Session vars'>
                <icon>fas:code fa-fw</icon>
                <action>SystemSessionVarsView</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Operacional">
        <icon>fas:briefcase fa-fw</icon>
        <menu>
            <menuitem label="Clientes">
                <icon>fas:user fa-fw</icon>
                <action>ClientesList</action>
            </menuitem>
            <menuitem label="Conhecimentos">
                <icon>fas:book fa-fw</icon>
                <action>ConhecimentoList</action>
            </menuitem>
<menuitem label="Acompanhamento Manual (processo)">
                <icon>fas:clipboard-list fa-fw</icon>
                <action>AcompProcessoKanban</action>
            </menuitem>
            <menuitem label="Enlastres">
                <icon>fas:book fa-fw</icon>
                <action>EnlastreList</action>
            </menuitem>
            <menuitem label="Contratos">
                <icon>fas:book fa-fw</icon>
                <action>ContratoList</action>
            </menuitem>
            <menuitem label="Faturas">
                <icon>fas:book fa-fw</icon>
                <action>FaturaList</action>
            </menuitem>
            <menuitem label="Caixa">
                <icon>fas:cash-register fa-fw</icon>
                <action>CaixaList</action>
            </menuitem>
            <menuitem label="Tabela de Fretes">
                <icon>fas:route fa-fw</icon>
                <action>TabelaFreteList</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label="CCT - Siscomex">
        <icon>fas:ship fa-fw</icon>
        <menu>
            <menuitem label="Histórico de Transmissões">
                <icon>fas:history fa-fw</icon>
                <action>CctTransmissaoList</action>
            </menuitem>
            <menuitem label="Transmitir via CRT">
                <icon>fas:paper-plane fa-fw</icon>
                <action>CctTransmissaoForm</action>
            </menuitem>
            <menuitem label="Emissão Manual">
                <icon>fas:keyboard fa-fw</icon>
                <action>CctManualForm</action>
            </menuitem>
            <menuitem label="Upload de XML">
                <icon>fas:cloud-upload-alt fa-fw</icon>
                <action>CctUploadXmlForm</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Configurações">
        <icon>fas:cog fa-fw</icon>
        <menu>
            <menuitem label="Permisso CRT - Listagem">
                <icon>fas:list fa-fw</icon>
                <action>PermissoList</action>
            </menuitem>
            <menuitem label="veiculo - Cadastro">
                <icon>fas:list fa-fw</icon>
                <action>VeiculoList</action>
            </menuitem>
            <menuitem label="consulta antt">
                <icon>fas:list fa-fw</icon>
                <action>ANTTForm</action>
            </menuitem>
            <menuitem label="lista antt">
                <icon>fas:list fa-fw</icon>
                <action>ANTTConsultaList</action>
            </menuitem>
            <menuitem label="Mot">
                <icon>fas:list fa-fw</icon>
                <action>MotoristaList</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Logout'>
        <action>LoginForm#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
    </menuitem>
</menu>
